<div class="container">
    <div class="form-left">
        <form>
            <div class="form-group">
                <label for="prompt">提示词</label>
                <textarea id="prompt" name="prompt" placeholder="请输入提示词...">dog</textarea>
            </div>
            <div class="form-group">
                <label for="negative-prompt">反向提示词</label>
                <textarea id="negative-prompt" name="negative_prompt"
                          placeholder="请输入反向提示词...">paintings, sketches, lowres, normal quality, worst quality, low quality, cropped, dot, mole, ugly, grayscale, monochrome, duplicate, morbid, mutilated, missing fingers, extra fingers, too many fingers, fused fingers, mutated hands, bad hands, poorly drawn hands, poorly drawn face, poorly drawn eyebrows, bad anatomy, cloned face, long neck, extra legs, extra arms, missing arms missing legs, malformed limbs, deformed, simple background, bad proportions, disfigured, skin spots, skin blemishes, age spot, bad feet, error, text, extra digit, fewer digits, jpeg artifacts, signature, username, blurry, watermark, mask, logo</textarea>
            </div>
            <div class="form-group">
                <label for="sampler-index">采样方法</label>
                <select id="sampler-index" name="sampler_index">
                    <option value="Euler a">Euler a</option>
                    <option value="Euler">Euler</option>
                    <option value="LMS">LMS</option>
                    <option value="DDIM">DDIM</option>
                </select>
            </div>
            <div class="form-group">
                <label for="steps">采样迭代步数</label>
                <div class="range-container">
                    <input type="range" id="steps-range" name="steps_range" min="1" max="150" value="20">
                    <input type="number" id="steps" name="steps" min="1" max="150" value="20">
                </div>
            </div>
            <div class="form-group">
                <label for="width">宽度</label>
                <div class="range-container">
                    <input type="range" id="width-range" name="width_range" min="64" max="512" value="200">
                    <input type="number" id="width" name="width" min="64" max="512" value="200">
                </div>
            </div>
            <div class="form-group">
                <label for="height">高度</label>
                <div class="range-container">
                    <input type="range" id="height-range" name="height_range" min="64" max="512"
                           value="200">
                    <input type="number" id="height" name="height" min="64" max="512" value="200">
                </div>
            </div>

            <div class="form-group">
                <label for="cfg-scale">提示词相关性</label>
                <div class="range-container">
                    <input type="range" id="cfg-scale-range" name="cfg_scale_range" min="1" max="30"
                           value="7">
                    <input type="number" id="cfg-scale" name="cfg_scale" min="1" max="30" value="7">
                </div>
            </div>
            <div class="form-group">
                <label for="batch-size">生成数量</label>
                <input type="number" id="batch-size" name="batch_size" min="1" value="1">
            </div>
            <div class="form-group">
                <label for="seed">随机种子</label>
                <input type="number" id="seed" name="seed" value="-1">
            </div>
        </form>
    </div>
    <div class="form-right">
        <button id="submit-btn">提交</button>
        <div class="task-container">
            <p>暂无任务</p>
        </div>
    </div>
</div>
